@{
    ViewBag.Title = "输入新密码";
}
<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">输入新密码</p>
</div>

<div class="modify clearfloat" id="main">
    <ul>
        <li class="clearfloat">
            <input type="text" name="" id="" value="" placeholder="请输入新密码" class="sname snametwo" />
        </li>
        <li class="clearfloat">
            <input type="text" name="" id="" value="" placeholder="请再次输入新密码" class="sname snametwo" />
        </li>
    </ul>
    <a href="~/Main/Complete" class="pay-btn clearfloat">
        确认修改
    </a>
</div>
@section FooterScript
{ 
    <script type="text/javascript">
    </script>
}