@using ZSZ.WebCommon
@model ZSZ.DTO.RegionDTO[]
@{
    ViewBag.Title = "房源搜索";
}
<script type="text/javascript" src="~/js/menu.js"></script>
<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">北京</p>
    <a href="javascript:history.go(-1)" class="fr"><i class="iconfont icon-sousuo fl"></i></a>
</div>
<div class="clearfloat" id="main">
    <div class="menu-list clearfloat am-sharetwo">
        <ul class="yiji" id="oe_menu">
            <li>
                <a href="#" class="inactive">区域<i></i></a>
                <ul style="display: none">
                    <li><a href="~/Main/Search2?@(MVCHelper.RemoveQueryString(Request.QueryString,"RegionId"))">全部</a></li>
                   @foreach (var region in Model)
                   {
                    <li><a href="/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"RegionId",region.Id.ToString()))">@region.Name</a></li>
                   }
                </ul>
            </li>
            <li>
                <a href="#" class="inactive">租金<i></i></a>
                <ul style="display: none">
                    <li><a href="~/Main/Search2?@(MVCHelper.RemoveQueryString(Request.QueryString,"MonthRent"))">全部</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"MonthRent","300-500"))">300-500元</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"MonthRent","501-800"))">600-800元</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"MonthRent","801-1000"))">800-1000元</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"MonthRent","1001-*"))">1000元以上</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="inactive">排序<i></i></a>
                <ul style="display: none">
                    <li><a href="~/Main/Search2?@(MVCHelper.RemoveQueryString(Request.QueryString,"OrderByType"))">全部</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"OrderByType","AscMonthRent"))">价格从大到小</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"OrderByType","DescMonthRent"))">价格从大到小</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"OrderByType","AscArea"))">面积从大到小</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"OrderByType","DescArea"))">面积从大到小</a></li>
                    <li><a href="~/Main/Search2?@(MVCHelper.UpdateQueryString(Request.QueryString,"OrderByType","DescCreateDateTime"))">创建时间</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="recom clearfloat recomtwo">
        <div class="content clearfloat box-s">            
            <!--上拉加载容器-->
            <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!--数据列表-->
                    <ul id="ul1" class="mui-table-view mui-table-view-chevron">

                    </ul>
                </div>
            </div>      
        </div>
    </div>   
</div>

@section FooterScript
{ 
    <script type="text/javascript" src="~/js/psong.js"></script>
    <script type="text/javascript" src="~/js/template.js"></script>
    <script type="text/javascript">
        var currentIndex = 1;
        mui.init({
            pullRefresh: {
                container: refreshContainer,//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
                up: {
                    height: 50,//可选.默认50.触发上拉加载拖动距离
                    auto: true,//可选,默认false.自动上拉加载一次
                    contentrefresh: "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                    contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: function () {
                        var that = this;
                        $.ajax({
                            url: "/Main/LoadMore" + location.search + "&currentIndex=" + currentIndex, type: "post",
                            success: function (result) {
                                currentIndex++;
                                var hasMoreData = (result.data.length == 10)
                                var html = template('test', { houses:result.data});
                                $("#ul1").append(html);
                                if (!hasMoreData) {                                    
                                    that.endPullupToRefresh(true);
                                }                                
                            },
                            error: function () {
                                alert("网络错误");
                            }
                        });
                        this.endPullupToRefresh(false);
                    }
                }
            }
        });
    </script>

    <script id="test" type="text/html">
    {{each houses as house}}
    <div class="list clearfloat fl box-s">
        <a href="/{{house.id}}.html">
            <div class="tu clearfloat">
                <span></span>
                <img src="{{house.firstThumbUrl}}" />
            </div>
            <div class="right clearfloat">
                <div class="tit clearfloat">
                    <p class="fl">{{house.communityName}}</p>
                    <span class="fr">{{house.monthRent}}<samp>元/月</samp></span>
                </div>
                <p class="recom-jianjie">{{house.roomTypeName}}   |  {{house.Area}}m²  |  {{house.decorateStatusName}}</p>
                <div class="recom-bottom clearfloat">
                    <span><i class="iconfont icon-duihao"></i>随时住</span>
                    <span><i class="iconfont icon-duihao"></i>家电齐全</span>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
    </script>
}